POSTGRES_PASSWORD=password
SENTINEL_URL=https://sso.gauchoracing.com
SENTINEL_CLIENT_ID=7Dq6snA9MO8z
SENTINEL_CLIENT_SECRET=Xxmet2LLEpFFTjONkAdkpJ76TIv3iaxVr4xuewfnZfOvms8V2poMJLVQOQc0l5WR
SENTINEL_SA_TOKEN=eyJhbGciOiJSUzI1NiIsImtpZCI6IjEiLCJ0eXAiOiJKV1QifQ.eyJhdWQiOlsiY2ZxbWg2YmZZRmU4Il0sImV4cCI6MTgxMzk0NzQyNiwiaWF0IjoxNzgyNDExNDI2LCJpc3MiOiJodHRwczovL3NlbnRpbmVsLXY1LmdhdWNob3JhY2luZy5jb20iLCJqdGkiOiJqd3RfMDFrdnp6enlzbmZnczE0dDgzeXF3ZDNrN3oiLCJzY29wZSI6InVzZXI6cmVhZCBncm91cHM6cmVhZCIsInNlcnZpY2VfYWNjb3VudF9pZCI6InNhXzAxa3Z6enp5c2JhdjNuNzBwMTR5aHp0YzIwIiwic3ViIjoiZW50XzAxa3Z6enp5czI1NDhwbXN6YzJzNGQxMHc0IiwidHlwZSI6InNlcnZpY2VfYWNjb3VudCJ9.EXcUHTUjqk4CDuUG5Jyal7LM4-LBXviCQQ7icChd51_ktwVzoZn02q3_0iAqPD76JNKcyzYzMzFGfnFe9hHe8b73H6XjT0hSbvAmmwsDXlu5rEZ_t4lxqMb6di1TJbQwkoNDC94cY5rAuVT8PtNDP2YRNkvErUIcNLLF7lcnR1QzZoV7VnjmE2hQW0ceO6UUV8BdBgqve8pv1WJcG2T20w2u3PwxbkzW62POo5U7_Cdt10nkUAWFW_-jbAbjfET9rkOh8cRBJgbUsmgcIrsFFNH66tJs7s8qRq-392vk-sfG3neOIlgr3NQ5_KJtwQSQzlMd6sJJsgyR-0hmpi6Blw
SENTINEL_REDIRECT_URI=http://localhost:10310/auth/login
DISCORD_TOKEN=
DISCORD_GUILD=
DISCORD_LOG_CHANNEL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=us-west-2
S3_BUCKET=gr-jiffy-public
DRIVE_SERVICE_ACCOUNT=
